
/* About section
-------------------------------------------------- */
// right layout Lang
.rtlLang section#aboutus
	margin 0 auto 50px
	width 1000px
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float left
		position relative
		div
			background-repeat no-repeat
			background-size contain
			position absolute
			&.saff1
				background-image url("images/prd/materials1.png")
				width 135px
				height 112px
				bottom 63px
				right 305px
			&.saff2
				background-image url("images/prd/materials2.png")
				width 402px
				height 350px
				bottom 40px
				right 36px
				z-index 10
			&.saff3
				background-image url("images/prd/materials3.png")
				width 229px
				height 270px
				bottom 0px
				left 240px
				z-index 20

	& div.des 
		margin-left 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			color red
			width 350px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left
		& p
			font-size 16px 
			margin-bottom 0
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 16px
			margin-top 0

// left layout Lang
.ltrLang section#aboutus
	margin 0 auto 50px
	width 1000px
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float right
		div
			background-repeat no-repeat
			background-size contain
			position absolute
			&.saff1
				background-image url("images/prd/materials1.png")
				width 135px
				height 112px
				bottom 63px
				left 65px
			&.saff2
				background-image url("images/prd/materials2.png")
				width 402px
				height 350px
				bottom 40px
				left 36px
				z-index 10
			&.saff3
				background-image url("images/prd/materials3.png")
				width 229px
				height 270px
				bottom 0px
				left 240px
				z-index 20

	& div.des 
		margin-right 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			text-transform capitalize
			color #8A49B3 
			width 350px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left
		& p
			font-size 14px
			margin-bottom 0
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 14px
			margin-top 0

html[lang="fa-IR"]
	section#aboutus
		height 730px
html[lang="en-US"]
	section#aboutus
		height 770px
html[lang="es"]
	section#aboutus
		height 810px
html[lang="fr"]
	section#aboutus
		height 810px