
/* About section
-------------------------------------------------- */
// right layout Lang
.rtlLang section#aboutus
	margin 0 auto 50px auto 
	width 1000px
	height 820px !important
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float left
		background-image url('images/home.png')
		background-repeat no-repeat
		background-position left center

	& div.des 
		margin-left 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			color #8A49B3 
		& p
			font-size 20px 
			margin-bottom 0
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 20px
			margin-top 0

// left layout Lang
.ltrLang section#aboutus
	margin 0 auto 50px auto 
	width 1000px
	height 400px
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float right
		background-image url('images/home.png')
		background-repeat no-repeat
		background-position left center

	& div.des 
		margin-right 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			text-transform capitalize
			color #8A49B3 
		& p
			font-size 20px
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 20px
			margin-top 0