
/* Certificates section
-------------------------------------------------- */

section.certificates {
	padding-top: 1px;
	position: relative;
	height 250px
}

section.certificates div.background_holder > div {
	width: 832px;
	height: 250px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: right center;
	outline: 1px solid red;
}

section.certificates > div div.description {
	float: left;
	width: 350px;
	height: inherit;
	outline: 1px solid yellow;
}

section.cat_list div.cat_01,
section.cat_list div.cat_02 {
	width: 150px;
	height: 150px;
	outline: 2px solid blue;
}
section.cat_list div.cat_01 {
	
}
section.cat_list div.cat_02 {

}
section.cat_list div.cat_03 {
	
}
section.cat_list div.cat_03 {

}

section.certificates section.thumb_holder {
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	outline: 1px solid red;
}

section.thumb_holder > div {
	width: 100px;
	height: 100px;
	float: left;
	outline: 1px solid blue;
}