
/* Certificates section
-------------------------------------------------- */

section.certificates-container 
	width 1000px
	height 400px
	margin 0 auto

	& div.background_holder 
		background-image url(images/cer-shadow.png)
		background-repeat no-repeat
		background-position -50px 240px
		width 600px
		height inherit
		float right
		position relative

		& > div 
			width inherit
			height 250px
			position absolute
			left 0
			top 0
			right 0
			bottom 0
			background-image url(images/cer/cer_01.jpg)
			background-repeat no-repeat
			background-position center

		& section.thumb_holder 
			height 100px
			position absolute
			bottom 0
			left 0


			& > div 
				width 79px
				height 61px
				float left
				background-image url(images/cer/thumb/cer_01.jpg)
				background-repeat no-repeat
				margin-left 58px
				
	& div.title 
		margin-right 600px
		height inherit


