
/* Certificates section
-------------------------------------------------- */

section#certificates
	width 1000px
	height 715px
	margin 0 auto 50px auto

	& div.cert-right 
		width 600px
		height 360px
		position relative

		div.pre-cert,
		div.next-cert
			width 30px
			height 30px
			position absolute
			top 110px
			background-image url("images/prd_arrow_cert.png")
			cursor pointer
		div.pre-cert
			left 90px
			background-position 0 0
		div.next-cert
			right 90px
			background-position -30px 0

		div.case-train-cert
			position relative
			width 321px
			height 288px
			margin 0 auto
			overflow hidden

			& section.background_holder
				position absolute
				top 0
				left 0
				height 288px
				background-image url(images/cert_shadow.png)
				background-repeat no-repeat
				background-position center bottom

				& > div 
					width 321px
					height 250px
					float left
					background-image url(images/cer/HACCP.jpg)
					background-repeat no-repeat
					background-position center center
					background-size contain

		& div.cert-shadow-line-holder
			background-image url(images/cert_shadow_line.png)
			background-repeat no-repeat
			background-position center top
			height 27px
			
		& section.thumb_holder 
			position absolute
			bottom 0
			left 112px

			& > div 
				width 79px
				height 61px
				float left
				background-image url(images/cer/thumb/HACCP.jpg)
				background-repeat no-repeat
				background-size contain
				margin-left 10px
				cursor pointer
				opacity .6
				&.active
					opacity 1
					
	& div.des 
		margin-left 600px
		height inherit
		padding 0 32px 0 0
		
		& h2
			font-size 32px
			font-weight bold
			color #8A49B3 
			width 350px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left

		& p
			font-size 16px 

.ltrLang section#certificates div.des 
	margin-right 600px
	margin-left 0px
	p
		font-size 14px