
/* Certificates section
-------------------------------------------------- */

section#certificates
	width 1000px
	height 400px
	margin 0 auto 50px auto

	& div.cert-right 
		width 600px
		height 360px
		float left
		position relative

		& section.background_holder
			width 600px
			height 288px
			background-image url(images/cert_shadow.png)
			background-repeat no-repeat
			background-position center bottom

			& > div 
				width inherit
				height 250px
				position absolute
				left 0
				top 0
				right 0
				bottom 0
				background-image url(images/cer/cer_01.jpg)
				background-repeat no-repeat
				background-position center center
				background-size contain

		& div.cert-shadow-line-holder
			background-image url(images/cert_shadow_line.png)
			background-repeat no-repeat
			background-position center top
			height 27px
			
		& section.thumb_holder 
			position absolute
			bottom 0
			left 112px

			& > div 
				width 79px
				height 61px
				float left
				background-image url(images/cer/thumb/cer_01.jpg)
				background-repeat no-repeat
				background-size contain
				margin-left 10px
					
	& div.des 
		margin-left 600px
		height inherit
		
		& h2
			font-size 30px 

		& p
			font-size 20px 