/* contact-us section
-------------------------------------------------- */
section#contactus
	height 960px !important
	div.title
		h2
			font-size 32px
			font-weight bold
			color #8a49b3
			padding 0 32px 0 0
			width 250px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left
	aside.contact_info
		width 320px
		padding 0 32px 0 0
		ul
			padding 0px
			li
				list-style none
				font-size 16px
				line-height 24px
				margin-bottom 10px
				i
					margin-left 10px
					margin-right 0
		div.social
				margin-right 54px
				ul
					list-style-type none
					li
						float right
						a
							display block
							width 45px
							height 45px
							background-image url('images/icons/socialis.png')
							margin-right 5px

						.facebook
							background-position -3px -4px
							&:hover
								background-position -3px -58px
						.twitter
							background-position -60px -4px
							&:hover
								background-position -60px -58px
						.gp
							background-position -262px -111px
							&:hover
								background-position -262px -161px
						.linkedin
							background-position -312px -111px
							&:hover
								background-position -312px -161px
	section.form
		float left
		width 610px

		p
			font-size 16px

		.inputs
			width: 230px;

		.err::-webkit-input-placeholder
			color  red

		.err:-moz-placeholder
			color  red

		input
			width			 200px
			color			 #1b1b1b
			margin			 6px 0
			border			 1px solid #333
			border-radius	 5px
			background-color #eee
			padding			 7px 10px
			transition			 border 500ms

			&.err
				border 1px solid red

			&.btn_submit
				border-radius	 3px
				margin-right 14px
				border			 1px solid #2C2C2C
				background		 #6B6464
				text-align		 center
				width			 80px
				display			 block
				color			 white
				text-decoration	 none

				&:hover
					background-color  #222222
		input[type=reset]
			margin-left 18px
		textarea
			width			 340px
			height			 184px
			margin			 6px 0 6px 4px
			color			 #1b1b1b
			border			 1px solid #333
			border-radius	 5px
			background-color #eee
			padding			 5px 10px
			transition		 border 500ms
			&.err
				border  1px solid red
	div.google-map
		min-height 250px
		width 930px
		margin 0 auto
		iframe
			width 665px
			height 250px
			float right
		div.qrcode
			width 250px
			height 250px
			float left
			background-image url('images/qrcode.png')
			background-position center center
			background-repeat no-repeat

.ltrLang 
	section#contactus 
		section.form 
			textarea
				height 164px
			p
				font-size 14px
		#ifrm
			width 100%
			height 0
		aside.contact_info
			width 320px
			padding 0 0 0 32px
			ul
				padding 0px
				li
					list-style none
					font-size 14px
					line-height 24px
					margin-bottom 10px
					i
						margin-right 10px
						margin-left 0
			
		div.google-map
			iframe
				float left
			div.qrcode
				float right
