
/* contact-us section
-------------------------------------------------- */

section#contactus
	div.title
		h2
			font-size 32px
			font-weight bold
			color #8a49b3
			padding 0 32px 0 0

	section.form
		float left
		width 610px

		p
			font-size 18px

		.inputs
			width: 230px;

		.err::-webkit-input-placeholder
			color  red

		.err:-moz-placeholder
			color  red

		input
			width			 200px
			color			 #1b1b1b
			margin			 6px 0
			border			 1px solid #333
			border-radius	 5px
			background-color #eee
			padding			 7px 10px
			transition			 border 500ms

			&.err
				border 1px solid red

			&.btn_submit
				border-radius	 3px
				margin-right 14px
				border			 1px solid #2C2C2C
				background		 #6B6464
				text-align		 center
				width			 80px
				display			 block
				color			 white
				text-decoration	 none

				&:hover
					background-color  #222222
		input[type=reset]
			margin-left 18px
		textarea
			width			 340px
			height			 184px
			margin			 6px 0 6px 4px
			color			 #1b1b1b
			border			 1px solid #333
			border-radius	 5px
			background-color #eee
			padding			 5px 10px
			transition		 border 500ms

			&.err
				border  1px solid red
			
#ifrm
	width 100%
	height 0
aside.contact_info
	width 320px
	padding 0 32px 0 0

aside.contact_info span
	float: right;
	background: url("images/icons/sprite.png") no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	margin-left 10px
	
aside.contact_info ul
	padding: 0px;

aside.contact_info li
	list-style none
	font-size 16px
	line-height 24px
	margin-bottom 10px

aside.contact_info	span.location
	background-position 1px -98px
aside.contact_info	span.phone
	background-position 1px -120px
aside.contact_info	span.email
	background-position 1px -145px;
	
div.social
	margin-right 54px