
/* Intro section
-------------------------------------------------- */
body.intro-page
	background-image url(images/backimg1.jpg)
	background-position top center 
	background-repeat no-repeat 

.flags
	margin 0 auto
	right 0
	top 640px
	width 270px
	position absolute
	bottom 0
	left 0
	
	img
		cursor pointer