
/* Intro section
-------------------------------------------------- */
.logo-intro
	width 300px
	height 291px
	position absolute
	top 0
	left 0
	right 0
	margin 0 auto
	transition all 700ms

	img
		display block
		width inherit 

div.language
	position fixed
	left 0
	right 0
	/*min-height 270px*/
	width 580px
	margin 0 auto

	.flags
		width 460px
		position absolute
		bottom -400px
		left 0
		right 0
		margin 0 auto

		a
			display block
			width 50px
			float right
			margin 0 33px 0 0
			text-decoration none
			color white
			text-align center
			font-size 15px

			img
				margin-bottom 2px
				display block
				width 50px
				height 50px

.rotate
	perspective 400
	perspective-origin center bottom
	
	& canvas
		display block
		animation-name logoAnim
		animation-duration 5s
		animation-direction normal
		animation-iteration-count infinite
		animation-timing-function ease-in-out
		animation-fill-mode backwards

.smalllogo
	transform scale(0.7)

.biglogo
	transform scale(1)