
/* Intro section
-------------------------------------------------- */
body.intro-page
	background-image url(images/backimg1.jpg)
	background-position top center 
	background-repeat no-repeat

.logo-intro
	width 201px
	height 181px
	background-image url(images/logo.png)
	background-repeat no-repeat
	position absolute
	bottom 150px
	left 0
	right 0
	margin 0 auto

.flags
	width 405px
	position absolute
	bottom 30px
	left 0
	right 0
	margin 0 auto

	a
		display block
		width 70px
		height 73px
		float right
		margin 0 25px 0 0
		background-image url(images/icons/flages.png)
		background-repeat no-repeat

	#fa
		background-position 0 0

	#en
		background-position -73px 0

	#es
		background-position -148px 0

	#fr
		background-position -227px 0