
/* About section
-------------------------------------------------- */
section#laboratory
	margin 0 auto 50px auto 
	width 1000px
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float left
		div.prd-slider
			width 330px
			height 350px
			position relative
			left 110px
			margin 50px 0 0 50px
			padding 2px
			border 1px solid hsl(0, 0%, 47%)
			&:hover
				div.prd-prev,
				div.prd-next
					transition all 200ms
					display block
					opacity 1

			div.prd-prev,
			div.prd-next
				width 30px
				height 30px
				font-size 35px
				cursor pointer
				z-index 50
				color hsl(0, 0%, 70%)
				position absolute
				top 150px
				display none
				opacity 0
				transition all 200ms
				background-image url('images/prd_arrow.png')
				background-repeat no-repeat

			div.prd-prev
				left 13px
				background-position 0 0

			div.prd-next
				right 13px
				background-position -30px 0

			div.prd-casetrain
				position relative
				width 330px
				height 350px
				overflow hidden

				div.prd-train
					width 10000px
					height 350px
					overflow hidden
					position absolute
					left 0

					& > div
						width 330px
						height 350px
						float left
						background-image url('images/lab/lab1.jpg')
						background-repeat no-repeat
						background-position center center

	& div.des 
		margin-left 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			color #8A49B3 
			width 350px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left
		& p
			font-size 16px
			margin-bottom 0
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 16px
			margin-top 0

.ltrLang 
	section#laboratory
		div.des 
			margin-right 600px
			margin-left 0
			p
				font-size 14px
		& div.fulltext
			text-align justify
			padding 0 32px 0 0
			& p
				font-size 14px
				margin-top 0
		div.about-img
			width 600px
			height 400px
			float right
			// div
			// 	background-repeat no-repeat
			// 	background-size contain
			// 	position absolute
			// 	&.saffron1
			// 		background-image url("images/prd/product1.png")
			// 		width 226px
			// 		height 202px
			// 		position absolute
			// 		bottom 72px
			// 		left -13px
			// 	&.saffron2
			// 		background-image url("images/prd/product2.png")
			// 		width 522px
			// 		height 330px
			// 		bottom 30px
			// 		left 0
			// 		z-index 10
			// 	&.saffron3
			// 		background-image url("images/prd/product3.png")
			// 		width 287px
			// 		height 204px
			// 		bottom 13px
			// 		left 270px
			// 		z-index 20
			div.prd-slider
				margin 50px 50px 0 0

html[lang="fa-IR"]
	section#laboratory
		height 770px
html[lang="ar-AE"]
	section#laboratory
		height 750px
html[lang="en-US"]
	section#laboratory
		height 770px
html[lang="es"]
	section#laboratory
		height 790px
html[lang="fr"]
	section#laboratory
		height 785px