
/* About section
-------------------------------------------------- */
section#laboratory
	margin 0 auto 50px auto 
	width 1000px
	height 870px !important
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		background-image url('images/home.png')
		background-repeat no-repeat
		background-position left center

	& div.des 
		margin-left 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			color #8A49B3 
		& p
			font-size 20px
			margin-bottom 0
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 20px
			margin-top 0

.ltrLang 
	section#laboratory
		div.des 
			margin-right 600px
			margin-left 0
		& div.fulltext
			text-align justify
			padding 0 32px 0 0
			& p
				font-size 20px
				margin-top 0