
/* global section
-------------------------------------------------- */

body
	color textColor
	if !!textColor2 && textColor != textColor2 && textColor2!='textColor2'
		color textColor2

	background-color backColor
	if !!backColor2 && backColor != backColor2 && backColor2!='backColor2'
		background-color backColor2
