
/* global section
-------------------------------------------------- */

body
	color textColor
	if !!textColor2 && textColor != textColor2 && textColor2!='textColor2'
		color textColor2

	background-color backColor
	if !!backColor2 && backColor != backColor2 && backColor2!='backColor2'
		background-color backColor2

body.preload
	div.loading-panel
		display block
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		background-color #871716
		z-index 9999
		transition all 1000ms

		div.loading
			width 200px
			position absolute
			top 40%
			left 0
			right 0
			bottom 0
			margin -32px auto 0
			div#loading-gif
				width 128px
				height 128px
				background-image url('images/preloading.gif')
				background-position center top
				background-repeat no-repeat
				margin 0 auto
			p#loading-text
				margin-top 40px
				text-align center
				font-family tahoma

div.loading-panel
	display none

header
	position fixed
	width auto
	left 0
	top 0
	right 0
	z-index 100
	//transition all 1s
	  
	//background-image url('images/archeader.png');
	//background-position center top
	//background-repeat no-repeat 

//nav
//	menu
//		li
//			color white
//			a
//				color inherit
//				text-decoration none
//				text-transform capitalize

#pages-wrapper
	width 980px
	height 20150px
	margin 0 auto
	background-color pageBackColor 
	
	.pages
		width 980px
		
		&.active
			border-style solid
			
		.spacer
			height 275px

div.page-link
	width 200px
	height 68px
	background url("images/page-link.png") no-repeat center center
	position absolute
	bottom 5px
	left 0px
	right 0px
	margin 0 auto

	& a
		display block
		height inherit
		line-height 55px
		padding 0 5px
		text-align center
		text-decoration none
		color gray
		font-size 16px
		background url("images/arrow.gif") no-repeat center top

.ltrLang div.page-link a
	font-size 13px

div.full-bg
	height 825px
	background-image url(images/backimg.jpg)
	background-repeat no-repeat
	background-position center bottom
	background-color #871716

div.arc-bg
	height 153px
	background-image url(images/archeader.png)
	background-repeat no-repeat
	background-position center top

html[lang="ar-AE"]
	#pages-wrapper
		height 20210px
html[lang="es"]
	#pages-wrapper
		height 20340px
html[lang="fr"]
	#pages-wrapper
		height 20290px
html[lang="en-US"]
	#pages-wrapper
		height 20150px