
/* global section
-------------------------------------------------- */

body
	color textColor
	if !!textColor2 && textColor != textColor2 && textColor2!='textColor2'
		color textColor2

	background-color backColor
	if !!backColor2 && backColor != backColor2 && backColor2!='backColor2'
		background-color backColor2

header
	position fixed
	width auto
	height 300px
	left 0
	top 0
	right 0
	z-index 100
	transition all 1s
	  
	background-image url('images/archeader.png');
	background-position center top
	background-repeat no-repeat 

//nav
//	menu
//		li
//			color white
//			a
//				color inherit
//				text-decoration none
//				text-transform capitalize

#pages-wrapper
	width 1280px
	height 25000px //pagesHeight * 7
	margin 0 auto
	background-color pageBackColor 
	
	.pages
		width 980px
		padding 0 150px 
		height pagesHeight
		/*
		left 0
		right 0
		margin 0 auto
		*/
		
		&.active
			border-style solid
			
		.spacer
			height 275px


