section.banner 
	height 300px
	width inherit
	margin 10px auto 0
	bottom 0
	padding-top 1px
	position absolute
	top 0
	left 0
	right 0
	z-index 50
 
nav menu 
	background-image url('images/menu-bg.png')
	background-repeat no-repeat
	width 681px
	height 133px
	position fixed
	top 0
	left 0
	right 0
	margin 0 auto

menu li 
	float right

menu li.item1 
	margin-right 109px
	margin-top 49px
menu li.item2 
	margin-top 43px
menu li.item3 
	margin-top 36px
menu li.item4 
	margin-top 33px
menu li.item5 
	margin-top 36px
menu li.item6 
	margin-top 43px
menu li.item7 
	margin-top 49px

nav li a 
	display			 block
	text-transform	 uppercase
	text-decoration	 none
	color			 #6E1312
	padding			 5px 13px 6px
	font-family		 nazanin
	font-size		 20px

nav li:hover a 
	color red

#logo 
	background-image  url(images/logo.png)
	position fixed
	top 88px
	left 0
	right 0
	margin 0 auto
	width 201px
	height 181px
	opacity 0.95
