section.banner 
	height 300px
	width inherit
	margin 10px auto 0
	bottom 0
	padding-top 1px
	position absolute
	top 0
	left 0
	right 0
	z-index 50

.rtlLang nav menu 
	background-image url('images/menu-bg.png')
	background-repeat no-repeat
	width 681px
	height 133px
	position absolute
	top -117px
	left 0
	right 0
	margin 0 auto
	//transition  all 2s

	li 
		float right

		a 
			display		block
			text-transform	 uppercase
			text-decoration	 none
			color			 #6E1312
			padding		5px 15px 6px
			font-family		 nazanin
			font-size		 20px

	li:hover a 
		color red

	li.item1 
		margin-right 120px
		margin-top 49px
	li.item2 
		margin-top 43px
	li.item3 
		margin-top 36px
	li.item4 
		margin-top 33px
	li.item5 
		margin-top 36px
	li.item6 
		margin-top 43px
	li.item7 
		margin-top 49px


// left layout Lang
.ltrLang nav menu 
	background-image url('images/menu-bg.png')
	background-repeat no-repeat
	width 681px
	height 133px
	position fixed
	top -117px
	left 0
	right 0
	margin 0 auto
	//transition  all 2s

	li 
		float left

		a 
			display		block
			text-transform	 capitalize
			text-decoration	 none
			color			 #6E1312
			padding		 9px 10px 6px
			font-weight		 bold
			font-size		 14px

	li:hover a 
		color red

	li.item1 
		margin-left 30px
		margin-top 49px
	li.item2 
		margin-top 43px
	li.item3 
		margin-top 36px
	li.item4 
		margin-top 33px
	li.item5 
		margin-top 36px
	li.item6 
		margin-top 43px
	li.item7 
		margin-top 49px

.ltrLang.fr nav menu  li a
	padding 9px 7px 6px
.ltrLang.es nav menu  li a
	padding 9px 9px 6px

@keyframes logoAnim {
	0% {
		transform rotateY(0deg)
	}
	100% {
		transform rotateY(360deg)
	}
}

figure#logo 
	position absolute
	top 118px
	left 0
	right 0
	margin 0 auto
	width 201px
	height 181px
	opacity 0
	display none
	perspective 400
	perspective-origin center bottom
	
	& img  //div
		display block
		animation-name logoAnim
		animation-delay 3s
		animation-duration 5s
		animation-direction normal
		animation-iteration-count infinite
		animation-timing-function ease-in-out
		animation-fill-mode backwards
