
/* Prd-list section
-------------------------------------------------- */

section.prd-det1
	width 1000px
	height 400px
	margin 0 auto
	background-image url('../images/prd-det1-shadow.png')
	background-repeat no-repeat
	background-position bottom center
	outline 1px solid red

	& div.title
		outline 1px solid red
		margin-right 600px
		height inherit

	& div.pics
		outline 1px solid green
		position relative
		width 600px
		height inherit

		& div.pic1
			background-image url('../images/prd_1_1.png')
			background-repeat no-repeat
			width 188px
			height 128px
			position absolute
			bottom 50px
			z-index 30
		& div.pic2
			background-image url('../images/prd_1_2.png')
			background-repeat no-repeat
			width 221px
			height 199px
			position absolute
			bottom 50px
			left 118px
			z-index 20
		& div.pic3
			background-image url('../images/prd_1_3.png')
			background-repeat no-repeat
			width 298px
			height 258px
			position absolute
			bottom 50px
			left 258px
			z-index 10


