
/* Prd-list section
-------------------------------------------------- */

section#product1-detail,#product2-detail,#product3-detail,#product4-detail,#product5-detail,#product6-detail,#product7-detail,#product8-detail
	margin 0 auto 50px auto
	width 1000px
	height 400px
	background-image url('images/prd-det1-shadow.png')
	background-repeat no-repeat
	background-position center 90%

	& div.des
		margin-left 550px
		height 400px
		padding 0 32px 0 0

		& h2
			font-size 32px
			font-weight bold
			color #8a49b3 

		& p
			font-size 20px 

	& div.pics
		position relative
		width 550px
		height 400px

		& div.pic1
			background-image url('images/prd_1_1.png')
			background-repeat no-repeat
			width 188px
			height 128px
			position absolute
			bottom 50px
			left 0px
			z-index 30
		& div.pic2
			background-image url('images/prd_1_2.png')
			background-repeat no-repeat
			width 221px
			height 199px
			position absolute
			bottom 50px
			left 108px
			z-index 20
		& div.pic3
			background-image url('images/prd_1_3.png')
			background-repeat no-repeat
			width 298px
			height 258px
			position absolute
			bottom 50px
			left 240px
			z-index 10

		& .pr-img1
			bottom 80px
			left 173px

		& .pr-img2
			bottom 80px
			left 173px

		& .pr-img3
			bottom 80px
			left 173px


