
/* Prd-list section
-------------------------------------------------- */

section.prd-list-container
	width 600px
	margin 0 auto
	outline 1px solid red
	div.prd-list-1
		position relative
		width 600px
		min-height 400px
		outline 1px solid green
