
/* Products section
-------------------------------------------------- */

section.prd-container
	width 600px
	margin 0 auto


section.prd-container div > div
	height 120px
	width 120px
	float left
	margin-left 20px
	margin-top 20px
	border-radius 10px
	position relative
	border 1px solid green
	background-image url(images/prd/1.jpg)
