
/* About section
-------------------------------------------------- */
.rtlLang section#aboutsaffron
	margin 0 auto 50px auto 
	width 1000px
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float left
		div
			background-repeat no-repeat
			background-size contain
			position absolute
			&.saff1
				background-image url("images/prd/materials1.png")
				width 135px
				height 112px
				bottom 103px
				left 65px
			&.saff2
				background-image url("images/prd/materials2.png")
				width 402px
				height 350px
				bottom 80px
				left 36px
				z-index 10
			&.saff3
				background-image url("images/prd/materials3.png")
				width 229px
				height 270px
				bottom 43px
				left 240px
				z-index 20

	& div.des 
		margin-left 600px
		text-align justify
		padding 0 32px 0 0
		& h2
			font-size 32px
			font-weight bold
			color #8A49B3 
			width 350px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left
		& p
			font-size 16px
	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 16px
		div.saff-ul
			ul
				float right
				margin-right 20px
				font-size 16px
				list-style-type circle

.ltrLang section#aboutsaffron
	margin 0 auto 50px auto 
	width 1000px
	margin 0 auto

	& div.about-img
		width 600px
		height 400px
		float right
		div
			background-repeat no-repeat
			background-size contain
			position absolute
			&.saff1
				background-image url("images/prd/materials1.png")
				width 135px
				height 112px
				bottom 103px
				left 65px
			&.saff2
				background-image url("images/prd/materials2.png")
				width 402px
				height 350px
				bottom 80px
				left 36px
				z-index 10
			&.saff3
				background-image url("images/prd/materials3.png")
				width 229px
				height 270px
				bottom 43px
				left 240px
				z-index 20

	& div.des 
		margin-right 600px
		text-align justify
		padding 0 32px 0 0
		
		& h2
			font-size 32px
			font-weight bold
			text-transform capitalize
			color #8A49B3 
			width 350px
			height 60px
			text-indent 10000px
			overflow hidden
			img
				float left

		& p
			font-size 14px 

	& div.fulltext
		text-align justify
		padding 0 32px 0 0
		& p
			font-size 14px
		div.saff-ul
			ul
				float left
				margin-left 9px
				font-size 14px
				list-style-type circle

html[lang="fa-IR"]
	section#aboutsaffron
		height 1290px
html[lang="en-US"]
	section#aboutsaffron
		height 1240px
html[lang="es"]
	section#aboutsaffron
		height 1280px
html[lang="fr"]
	section#aboutsaffron
		height 1280px