
/* About section
-------------------------------------------------- */
section.about-container
	margin 0 auto 50px auto 
	width 1000px
	height 400px
	margin 0 auto

	& div.about-img
		width 600px
		height inherit
		float left
		background-image url('../images/home.png')
		background-repeat no-repeat
		background-position left center

	& div.title 
		margin-left 600px
		height inherit
		text-align justify
		
		& h2
			font-size 30px 

		& p
			font-size 20px 
