
/* contact-us section
-------------------------------------------------- */

div.contact-us
	section.form
		width 610px

		.inputs
			width: 230px;

		.err::-webkit-input-placeholder
			color  red

		.err:-moz-placeholder
			color  red

		input
			width			 200px
			color			 #1b1b1b
			margin			 6px 0
			border			 1px solid #333
			border-radius	 5px
			background-color #eee
			padding			 7px 10px
			transition			 border 500ms

			&.err
				border 1px solid red

			&.btn_submit
				border-radius	 3px
				margin-right 14px
				border			 1px solid #2C2C2C
				background		 #6B6464
				text-align		 center
				width			 80px
				display			 block
				color			 white
				text-decoration	 none

				&:hover
					background-color  #222222
		input[type=reset]
			margin-left 18px
		textarea
			width			 340px
			height			 180px
			margin			 6px 0 6px 4px
			color			 #1b1b1b
			border			 1px solid #333
			border-radius	 5px
			background-color #eee
			padding			 5px 10px
			transition		 border 500ms

			&.err
				border  1px solid red
			
#ifrm
	width 100%
	height 0