#backimage
	position fixed


body
	background-color #FFF

div#pages-wrapper
	width 980px
	min-height 426px
	margin 0 auto
	//background url(../Designs/2_home.jpg) no-repeat
	background-size contain
	outline 1px solid red

section#language

	& div#backimage
		min-height 284px
		position fixed
		top 0
		left 0
		right 0
		outline 1px solid red

	& nav#main-menu
		width 720px
		min-height 135px
		position fixed
		top 10px
		left 0
		right 0
		margin 0 auto
		outline 1px solid green

	& figure#logo
		width 201px
		min-height 181px
		position fixed
		top 165px
		left 0
		right 0
		margin 0 auto
		outline 1px solid magenta

