#backimage
	position fixed


body
	background-color #FFF

div#pages-wrapper
	width 980px
	min-height 426px
	margin 0 auto
	//outline 1px solid red

section#language
	width 980px
	min-height 300px

	& div#backimage
		min-height 284px
		position fixed
		top 0
		left 0
		right 0
		outline 1px solid red

	& nav#main-menu
		width 720px
		min-height 135px
		position fixed
		top 10px
		left 0
		right 0
		margin 0 auto
		outline 1px solid green

	& figure#logo
		width 201px
		min-height 181px
		position fixed
		top 165px
		left 0
		right 0
		margin 0 auto
		outline 1px solid magenta

section#index,section#home,section#aboutus,section#products,section#certificate,section#branches,section#contactus
	width 980px
	min-height 400px
	margin-bottom 20px
	background-color rgba(50,50,50,.3)
	outline 1px solid black

	div.saffron
		width 350px
		min-height 314px
		float left
		background-color rgba(100,100,200,.3)

	div.saffron-img
		min-height 314px
		margin-left 360px
		background-color rgba(100,100,200,.3)
