
/* Prd-list section
-------------------------------------------------- */

section.prd-det1
	margin 0 auto 50px auto
	width 1000px
	height 400px
	background-image url('../images/prd-det1-shadow.png')
	background-repeat no-repeat
	background-position bottom center

	& div.title
		margin-left 600px
		height inherit

		& h2
			font-size 30px 

		& p
			font-size 20px 

	& div.pics
		position relative
		width 600px
		height inherit

		& div.pic1
			background-image url('../images/prd_1_1.png')
			background-repeat no-repeat
			width 188px
			height 128px
			position absolute
			bottom 50px
			left 284px
			z-index 30
		& div.pic2
			background-image url('../images/prd_1_2.png')
			background-repeat no-repeat
			width 221px
			height 199px
			position absolute
			bottom 50px
			left 178px
			z-index 20
		& div.pic3
			background-image url('../images/prd_1_3.png')
			background-repeat no-repeat
			width 298px
			height 258px
			position absolute
			bottom 50px
			left 0px
			z-index 10


