
@charset "UTF-8"

@import '../styles/nib'

@import '../styles/config'

@media all

	@import '../styles/1stylus/1reset'

	@import '../styles/1stylus/layout_helper'

	@import '../styles/1stylus/texts'

	@import '../styles/1stylus/fontsize'

	@import '../styles/fonts'

	@import 'layout'
	
	@import '../styles/contact-us_fa'
	
	@import '../styles/about_fa'

	@import '../styles/products_fa' 

	@import '../styles/certificates_fa'

	@import '../styles/prd-det_fa'
	
	@import '../styles/logo-menu_fa'

	@import '../styles/images'

@media print

	@import '../styles/1stylus/print'

